<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cats</title>
</head>
<body>
        <h2>Crazy Cats</h2>
        <a href="/balloon"><img src="cat1.jpg" alt="cat"></a>
        <a href="/thugcat"><img src="thugcat.jpg" alt="cat"></a>
        <a href="/straightkilla"><img src="cat2.jpg" alt="cat"></a>
</body>
</html>
